src/main/mule/sampleprojectjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e075f2e8-8a1b-4df0-94e7-42c9d98b860c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="f23cd920-28ed-4508-ac49-f93a270ee20c" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="tapankumar2187@gmail.com" password="Hello@321" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="sampleprojectjenkinsFlow" doc:id="76464f41-496c-4fc6-b6aa-bfc8a4cfc8ca" tracking:enable-default-events="true">
		<http:listener doc:name="Listener" doc:id="5b56b2ab-bdec-4975-ae26-326eecb8404a" config-ref="HTTP_Listener_config" path="/sample"/>
		<tracking:transaction doc:name="Set Transaction Id" doc:id="11a1aac6-28dc-47b5-b3d7-5791461a5ea5" id="#['12345']"/>
		<logger level="INFO" doc:name="Logger" doc:id="2d61f747-ea93-416a-a102-a55f97faaea7" message="#[attributes]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c42102ce-9a2d-40c5-a272-dd22a2a80bd4" />
		<ee:transform doc:name="Transform Message" doc:id="de56e766-0ce0-4da3-9a7d-3ef6d82df9a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---

flights:	{(
payload map (object,index)->{
	flight @(code:object.code):{
		airline: object.airline,
		destination: object.destination
		
	}
	
})}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="outVar" ><![CDATA[%dw 2.0
output application/json
---
payload map(object,index)->{
	'flight$index' :object,
	
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1626b721-95a7-41d1-9189-4c6bce3e98ce" message="#[vars.outVar]" />
		<logger level="INFO" doc:name="Logger" doc:id="4605da62-a77e-4549-86bc-b2b086fbc77b" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c4dd1e3f-c6c1-4bb0-83c8-62734f3b1418" message="#[payload]"/>
		<email:send doc:name="Copy_of_Send" doc:id="91d40c82-ad58-4f69-a712-841338a00845" config-ref="Email_SMTP" fromAddress="recurly@mulesoft.com" subject="#[X-correlation-id]" toAddresses="#[['tapan.2187@yahoo.com','tapan.shine@gmail.com']]" >
			<email:body contentType="text/html" encoding="'UTF-8'" >
				<email:content ><![CDATA[#[{
	"type": error.errorType,
	"description" :error.description,
	"detailedDescription":error.detailedDescription
	
}]]]></email:content>
			</email:body>
		</email:send>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2159f418-8c38-43d3-9cad-1471c80e78bf" >
				<email:send doc:name="Send" doc:id="460ef1eb-ad74-48d8-a4e8-496d92599ded" config-ref="Email_SMTP" fromAddress="recurly@mulesoft.com" subject="#[correlationId]" toAddresses="#[['tapan.2187@yahoo.com','tapan.shine@gmail.com']]">
					<email:body contentType="#['text/html']" encoding="#['UTF-8']">
						<email:content ><![CDATA[#[%dw 2.0
output application/xml
 
---
html :
   body :
        table @(border:1,cellpadding:1,
        cellspacing:1,style:"width:500px"):
            tbody : 
                tr : {
                    td @(style:"text-align: center;"): "error",
                    td @(style:"text-align: center;"): error.errorType
                } ++
                
                	tr:  {
                		    td @(style:"text-align: center;"): "description",
		                    td @(style:"text-align: center;"): error.description
        				}]]]></email:content>
					</email:body>
				</email:send>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="sampleprojectjenkinsFlow2" doc:id="7afcbd5b-f4b7-41ad-8a7e-df93f4147dae" >
		<http:listener doc:name="Listener" doc:id="9875a017-ecb8-4b4a-8b04-dc008f7d8737" config-ref="HTTP_Listener_config" path="/testdw"/>
		<ee:transform doc:name="Transform Message" doc:id="c62270ad-7673-4a03-9ec2-9e7b39ed5677">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
/*var numSeats = (plane:String)->

if(plane contains('Del'))
 150
 else if (plane contains('Chi'))
 300
 else
 400
 * 
 */
 //define a custom datatype Currency
 type Currency = String {format:"###.00"}
 
 fun getnumSeats(plane:String)=
 if(plane contains('Del'))
 150
 else if (plane contains('Chi'))
 300
 else
 400
---
payload..*flight map(object)->{
	
	code:object.@code,
	airline:object.airline,
	destination:upper(object.destination),
	seats:getnumSeats(object.plane default '' as String),
	price: object.price as Number,
	date: object.departDate as Date {format: "yyyy/MM/dd"} as String {format:"MMM dd, yyy"}
	

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sampleprojectjenkinsFlow1" doc:id="bbd5879a-1cfe-4c74-9da6-90f0cec8e6ad" >
		<http:listener doc:name="Listener" doc:id="aa6ecfbf-4f07-4132-b9e8-3bdcfc7b4967" config-ref="HTTP_Listener_config" path="/testone"/>
		<set-variable value='#[[&#10;  {&#10;    "source": "sfdc_name",&#10;    "target": "name",&#10;    "default": "---"&#10;  },&#10;  {&#10;    "source": "sfdc_last_name",&#10;    "target": "lastName",&#10;    "default": "---"&#10;  },&#10;  {&#10;    "source": "sfdc_employee",&#10;    "target": "user",&#10;    "default": true&#10;  }&#10;]]' doc:name="Set Variable" doc:id="72c1f324-f118-4b2e-bd78-b3e83465155c" variableName="mappings"/>
		<ee:transform doc:name="Transform Message" doc:id="e1eabd20-a04b-4fc2-91a4-909f21611cbe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var applyMapping = (in, mappingsDef) -> (
   mappingsDef map (def) -> {
    (def.target) : in[def.source] default def."default"
  }
)
---
payload.sfdc_users.*sfdc_user map (user) -> (
        applyMapping(user, vars.mappings)
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
