src/main/mule/sampleprojectjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e075f2e8-8a1b-4df0-94e7-42c9d98b860c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectjenkinsFlow" doc:id="76464f41-496c-4fc6-b6aa-bfc8a4cfc8ca" >
		<http:listener doc:name="Listener" doc:id="5b56b2ab-bdec-4975-ae26-326eecb8404a" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c42102ce-9a2d-40c5-a272-dd22a2a80bd4" />
	</flow>
</mule>
