src/main/mule/sampleprojectjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e075f2e8-8a1b-4df0-94e7-42c9d98b860c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectjenkinsFlow" doc:id="76464f41-496c-4fc6-b6aa-bfc8a4cfc8ca" >
		<http:listener doc:name="Listener" doc:id="5b56b2ab-bdec-4975-ae26-326eecb8404a" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c42102ce-9a2d-40c5-a272-dd22a2a80bd4" />
		<ee:transform doc:name="Transform Message" doc:id="de56e766-0ce0-4da3-9a7d-3ef6d82df9a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---

flights:	{(
payload map (object,index)->{
	flight @(code:object.code):{
		airline: object.airline,
		destination: object.destination
		
	}
	
})}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="outVar" ><![CDATA[%dw 2.0
output application/json
---
payload map(object,index)->{
	'flight$index' :object,
	
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1626b721-95a7-41d1-9189-4c6bce3e98ce" message="#[vars.outVar]" />
		<logger level="INFO" doc:name="Logger" doc:id="4605da62-a77e-4549-86bc-b2b086fbc77b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c62270ad-7673-4a03-9ec2-9e7b39ed5677" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
/*var numSeats = (plane:String)->

if(plane contains('Del'))
 150
 else if (plane contains('Chi'))
 300
 else
 400
 * 
 */
 //define a custom datatype Currency
 type Currency = String {format:"###.00"}
 
 fun getnumSeats(plane:String)=
 if(plane contains('Del'))
 150
 else if (plane contains('Chi'))
 300
 else
 400
---
payload..*flight map(object)->{
	
	code:object.@code,
	airline:object.airline,
	destination:upper(object.destination),
	seats:getnumSeats(object.plane default '' as String),
	price: object.price as Number as Currency,
	date: object.departDate as Date {format: "yyyy/MM/dd"} as String {format:"MMM dd, yyy"}
	

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c4dd1e3f-c6c1-4bb0-83c8-62734f3b1418" message="#[payload]"/>
	</flow>
	<flow name="sampleprojectjenkinsFlow1" doc:id="bbd5879a-1cfe-4c74-9da6-90f0cec8e6ad" >
		<http:listener doc:name="Listener" doc:id="aa6ecfbf-4f07-4132-b9e8-3bdcfc7b4967" config-ref="HTTP_Listener_config" path="/testone"/>
		<set-variable value='#[[&#10;  {&#10;    "source": "sfdc_name",&#10;    "target": "name",&#10;    "default": "---"&#10;  },&#10;  {&#10;    "source": "sfdc_last_name",&#10;    "target": "lastName",&#10;    "default": "---"&#10;  },&#10;  {&#10;    "source": "sfdc_employee",&#10;    "target": "user",&#10;    "default": true&#10;  }&#10;]]' doc:name="Set Variable" doc:id="72c1f324-f118-4b2e-bd78-b3e83465155c" variableName="mappings"/>
		<ee:transform doc:name="Transform Message" doc:id="e1eabd20-a04b-4fc2-91a4-909f21611cbe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var applyMapping = (in, mappingsDef) -> (
   mappingsDef map (def) -> {
    (def.target) : in[def.source] default def."default"
  }
)
---
payload.sfdc_users.*sfdc_user map (user) -> (
        applyMapping(user, vars.mappings)
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
